/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Bitter');
@import url('https://fonts.googleapis.com/css2?family=Exo');
@import url('https://fonts.googleapis.com/css2?family=Lato');




/*--scss:rules--*/

#title-block-header.quarto-title-block.default .quarto-title .title {
  font-family: "Bitter", $headings-font-family;
  font-size: 3rem;
}

h1, h2, h3 {
  font-family: "Lato";
}
